<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAA
    FgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAQAAHA6AABwOgAAAAAAAAAAAABmkmP/ZpJj/2WSY/9kjmL/
    Y45h/2aSY/9mkmP/ZpJj/2aSY/9mkmP/ZpNj/2GNXf9ei1r/
ZpJi/2aSY/9mkmP/ZpJj/2WSYv9pkmj/1N/U/8bWxv9jj2H/ZpJj/2aSY/9mkmP/aJNl/2CMXP+n
vqb/2uTZ/4Gifv9hjl7/Z5Nk/2eSZP9kkWH/bJNo//X39f/m7eX/ZY9f/2aSY/9mkmP/Z5Nk/2KQ
X/92mXH//Pv7/+bt5v9pkmX/ZZJi/2eSY/9nkmT/ZJFh/2uTaP/z9fL/4uri/2SOX/9mkmP/ZpJj
/2mUZf9cilf/scWu//////+btJf/XItX/2iUZv9mkmP/Z5Jk/2SRYf9rk2f/8/by/+Pr4/9kj2D/
Z5Jj/2eTZP9kkWD/cZZu//T29P/p7uj/apJl/2aSYv9mkmP/ZpJj/2eSZP9kkWH/bJNo//P28//j
6+P/ZY9g/2eTZf9qlWf/XIlZ/6i+p///////pbuj/1yKWP9olGX/ZpJj/2aSY/9nkmT/ZJFh/2yT
aP/09vT/4uri/1yIWP9fjFz/XYtZ/2WOY//s8ez/6/Hs/2uSaP9mkmP/ZpJj/2aSY/9mkmP/Z5Jk
/2SRYf9tlGn/7/Pu//z9/P/g6eD/4evh/+Dq3//n7eb//////83Zzv9jjmH/Y5Bf/2mTZP9mkmP/
ZpJj/2eSZP9kkWH/bZNp//Dz8P/2+PT/vs+9/8DRv//A0b//wNC+/83Zy//9/fz/5+3m/3mddv9i
j1//Z5Nk/2aSY/9nkmT/ZJFh/2yTaP/19vT/4eng/1mFU/9biVb/WolX/1uKWP9ah1f/kq+T////
///R3c//YI1c/2eTZP9mkmP/Z5Jk/2SRYf9sk2j/9Pbz/+Ts5P9nkGP/apVm/2mUZv9plGb/aZVm
/1yKWv/Y4tj//Pz8/3KYcP9jkGD/Z5Nk/2eSZP9jkmH/bJNo//T28//j6+P/Y45e/2STYf9lkmL/
ZZJj/2KRX/9cilr/3ufe//j6+P9ulm3/Y5Bg/2eSZP9nkmT/ZJFh/2yTZ//x9PH/4enh/2WNYf9o
kWX/aZFm/2iRZf9sk2f/sMWv///////C0cL/X4td/2iUZP9mkmP/Z5Jk/2SRYf9ulGr/8PPv////
///z9vP/9Pj0//X49P/19/P/+/z5///////Q3NH/bJNq/2SQYf9nkmT/ZpJj/2aSY/9lkmL/apNn
/6m/pv+0x7H/tciz/7XIs/+1yLP/tMiy/6fApf+Hp4b/Yo1f/2SQYf9nk2T/ZpJj/2aSY/9mkmP/
ZpJj/2WSY/9ciln/WolX/1qJVv9aiVb/WohW/1qIVv9aiVf/Xoxb/2eTZP9nk2T/ZpJj/2aSY/9m
kmP/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAA==" type="image/x-icon"/>

    <title>Regrun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <style type="text/css">
        body {
            padding-top: 10px;
        }
    </style>

    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}


<body>

{% include 'partials/_navbar.html' %}

{% block body %}
{% endblock %}


{% assets "js_vendor" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


</body>
</html>
